:root {
  --color-primary: hsl(0, 100%, 100%);
  --color-secondary: hsl(0, 0%, 63%);
  --color-contrast-primary: hsl(0, 0%, 27%);
  --color-contrast-secondary: hsl(0, 0%, 0%);
  --size-small: clamp(1rem, calc(1.25rem + 0.5vw), 1.75rem);
  --size-medium: clamp(1.5rem, calc(2rem + 0.5vw), 3rem);
  --size-large: clamp(2.5rem, calc(3.25rem + 1vw), 4rem);
  --font-small: clamp(1rem, calc(0.8rem + 0.5vw), 1.125rem);
  --font-medium: clamp(1.1rem, calc(0.9rem + 0.6vw), 1.2rem);
  --font-large: clamp(1.2rem, calc(1rem + 0.8vw), 1.4rem);
  --font-larger: clamp(1.65rem, calc(1.4rem + 1vw), 2rem);
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: block;
  max-width: 100vw;
  position: relative;
  font-family: "League Spartan", sans-serif;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--size-medium) var(--size-small);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  font-size: var(--font-medium);
}

.nav {
  &__hamburger {
    order: -1;
    position: absolute;
    left: var(--size-small);
    cursor: pointer;
  }

  &--desktop {
    display: none;
  }

  &--dialog {
    width: 100vw;
    border: none;
    max-width: none;
    margin: none;

    &::backdrop {
      background: rgba(0, 0, 0, 0.6);
    }
  }

  &--mobile {
    position: relative;
    display: flex;
    flex-direction: row;
    background: var(--color-primary);
    padding: var(--size-medium);
    justify-content: space-between;
    gap: var(--size-medium);
    width: 100%;

    & ul {
      display: flex;
      flex-direction: row;
      gap: var(--size-small);
    }

    & li {
      list-style: none;
    }

    & a {
      text-transform: lowercase;
      text-decoration: none;
      color: var(--color--primary);
      transition: 500ms ease;

      &:hover {
        cursor: pointer;
        color: var(--color-secondary);
        transition: 200ms ease;
      }
    }

    & #close-button {
      background: none;
      border: none;
      font-size: var(--font-small);
      color: var(--color-secondary);
    }

    & #close-button:hover {
      cursor: pointer;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  &--tertiary {
    position: relative;
  }

  &__image {
    width: 100%;
    vertical-align: top;
    object-fit: cover;

    &--dynamic {
      max-width: 50rem;
      object-fit: cover;
    }

    &-wrapper {
      display: block;
      position: relative;
      flex: 1;
    }
  }

  &__attribution {
    color: var(--color-contrast-primary);
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%);
    font-size: var(--font-small);
    width: 100%;
    text-align: center;

    & a {
      text-decoration: none;
      color: var(--color-contrast-secondary);
    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: var(--size-small);
    padding: var(--size-small);
    margin-block: var(--size-medium);

    &--primary {
      flex: 1;
    }
  }

  &__title {
    font-weight: 600;
    color: var(--color-contrast-secondary);

    &--primary {
      font-size: var(--font-larger);
    }

    &--secondary {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: var(--font-large);
    }
  }

  &__description {
    width: clamp(35ch, 100%, 60ch);
    color: var(--color-secondary);
    line-height: 1.25;
    font-size: var(--font-medium);
    font-weight: 400;
  }

  &__shop-button {
    color: var(--color-contrast-secondary);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 500;
    font-size: var(--font-large);
    margin-block-start: var(--size-small);
    cursor: pointer;
    transition: 600ms ease;

    &:hover {
      color: var(--color-secondary);
      transition: 100ms ease;
    }

    &:hover * {
      color: var(--color-secondary);
    }
  }

  &__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-small);
    border: none;
    cursor: pointer;
    background: var(--color-contrast-secondary);
    transition: 500ms ease;

    &:hover {
      background: var(--color-secondary);
      transition: 100ms ease;
    }
  }
}

.icon {
  color: var(--color-primary);

  &--arrow {
    transform: scale(0.7);
  }

  &--black {
    color: var(--color-contrast-secondary);
  }
}

.dynamic-hover {
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;

  &:hover {
    opacity: 0.9;
    text-decoration: underline;
  }
}

// Tablet

@media screen and (min-width: 43rem) {
  :root {
    --font-small: clamp(1.1rem, calc(1rem + 0.7vw), 1.3rem);
    --font-medium: clamp(1.2rem, calc(1rem + 0.8vw), 1.5rem);
    --font-large: clamp(1.5rem, calc(1.3rem + 1vw), 1.7rem);
    --font-larger: clamp(2rem, calc(1.8rem + 1.2vw), 3rem);
  }

  header {
    justify-content: space-between;
  }

  .nav {
    &__hamburger {
      display: none;
    }

    &--mobile {
      display: none;
    }

    &--desktop {
      display: flex;
      flex-direction: row;
      gap: var(--size-small);
      width: fit-content;

      & a {
        color: var(--color-primary);
        text-decoration: none;
        text-transform: lowercase;
      }
    }
  }

  .container {
    &__image {
      &--dynamic {
        max-width: none;
      }
    }

    &__text-content {
      align-items: center;
      justify-self: center;
    }

    &__title,
    &__description {
      text-align: center;
      width: 50ch;
    }
  }
}

// Desktop

@media screen and (min-width: 65rem) {
  :root {
    --font-small: clamp(0.7rem, calc(0.6rem + 0.2vw), 1rem);
    --font-medium: clamp(0.8rem, calc(0.7rem + 0.3vw), 1.2rem);
    --font-large: clamp(1rem, calc(0.8rem + 0.5vw), 1.4rem);
    --font-larger: clamp(1.5rem, calc(1.5rem + 0.7vw), 2rem);
  }

  header {
    width: fit-content;
    gap: var(--size-medium);
  }

  .dynamic-hover {
    display: inline-block;
    position: relative;
    text-decoration: none;

    &:hover {
      opacity: 1;
      text-decoration: none;
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -5%;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 0%;
      height: 2px;
      background-color: var(--color-primary);
      transition: 500ms ease;
    }

    &:hover::before {
      width: 70%;
      transition: 200ms ease;
    }
  }

  main {
    display: grid;
    grid-template:
      "primary primary" 70%
      "secondary tertiary" 30% / 1fr auto;
    height: 100vh;
    overflow: hidden;
  }

  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100vw;

    &--primary {
      width: 100%;
      grid-area: primary;
    }

    &--secondary {
      grid-area: secondary;
    }

    &--tertiary {
      grid-area: tertiary;
    }

    &__image {
      height: 100%;
      &--dynamic {
        height: 100%;
      }

      &-wrapper {
        height: 100%;
      }
    }

    &__text-content {
      margin-block: 0;
      height: 100%;
      align-items: flex-start;
      gap: 1rem;

      &--primary {
        padding: var(--size-large);
        max-width: 42%;
      }

      &--secondary {
        gap: 0.5rem;
        padding: var(--size-small) var(--size-medium);
      }
    }

    &__attribution {
      width: 100%;
      text-align: center;
      --color-primary: var(--color-contrast-primary);
    }

    &__title {
      text-align: left;

      &--primary {
        width: 15ch;
      }
    }

    &__description {
      text-align: left;

      &--primary {
        width: 40ch;
      }

      &--secondary {
        width: 55ch;
      }
    }

    &__buttons {
      transform: translateX(100%);
    }

    &__shop-button {
      margin-block: auto var(--size-large);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0ms !important;
  }
}
