:root {
  --color-primary: hsl(0, 100%, 100%);
  --color-secondary: hsl(0, 0%, 63%);
  --color-contrast-primary: hsl(0, 0%, 27%);
  --color-contrast-secondary: hsl(0, 0%, 0%);
  --size-small: 1.25rem;
  --size-medium: 2rem;
  --size-large: 3.25rem;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  position: relative;
  font-family: "League Spartan", sans-serif;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--size-medium) var(--size-small);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.nav {
  &__hamburger {
    order: -1;
    position: absolute;
    left: var(--size-small);
    cursor: pointer;
  }

  &--desktop {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;

  &__image {
    width: 100%;

    &--dynamic {
      aspect-ratio: 375 / 360;
      background: url("../assets/images/mobile-image-hero-1.jpg") no-repeat
        center / cover;
      position: relative;
    }
    &--static {
      aspect-ratio: 420 / 266;
      background: url("../assets/images/image-about-dark.jpg") no-repeat center /
        cover;
    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: var(--size-small);
    padding: var(--size-small);
    margin-block: var(--size-medium);
  }

  &__title {
    font-weight: 600;
    color: var(--color-contrast-secondary);

    &--primary {
      font-size: var(--size-medium);
    }

    &--secondary {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }

  &__description {
    width: clamp(35ch, 100%, 60ch);
    color: var(--color-secondary);
    line-height: 1.25;
    font-size: 1rem;
    font-weight: 400;
  }

  &__shop-button {
    color: var(--color-contrast-secondary);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 500;
    margin-block-start: var(--size-small);
  }

  &__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
  }
}

.icon {
  color: var(--color-primary);

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-small);
    border: none;
    cursor: pointer;
    background: var(--color-contrast-secondary);
  }

  &--arrow {
    transform: scale(0.7);
  }

  &--black {
    color: var(--color-contrast-secondary);
  }
}

footer {
  width: 100%;
  position: relative;
}

.footer {
  &__image {
    width: 100%;
    aspect-ratio: 440 / 266;
    background: url("../assets/images/image-about-light.jpg") no-repeat center /
      cover;
  }
  &__attribution {
    color: var(--color-contrast-primary);
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%);
    font-size: clamp(0.75rem, calc(1rem - 1vw), 0.5rem);

    & a {
      text-decoration: none;
      color: var(--color-contrast-secondary);
    }
  }
}
