:root {
  --color-primary: hsl(0, 100%, 100%);
  --color-secondary: hsl(0, 0%, 63%);
  --color-contrast-primary: hsl(0, 0%, 27%);
  --color-contrast-secondary: hsl(0, 0%, 0%);
  --size-small: clamp(1rem, calc(1.25rem + 0.5vw), 1.75rem);
  --size-medium: clamp(1.5rem, calc(2rem + 0.5vw), 3rem);
  --size-large: clamp(2.5rem, calc(3.25rem + 1vw), 4rem);
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: block;
  max-width: 100vw;
  position: relative;
  font-family: "League Spartan", sans-serif;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--size-medium) var(--size-small);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.nav {
  &__hamburger {
    order: -1;
    position: absolute;
    left: var(--size-small);
    cursor: pointer;
  }

  &--desktop {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  &--tertiary {
    position: relative;
  }

  &__image {
    width: 100%;
    vertical-align: top;
    object-fit: cover;

    &--dynamic {
      max-width: 50rem;
      object-fit: cover;
    }

    &-wrapper {
      display: block;
      position: relative;
      flex: 1;
    }
  }

  &__attribution {
    color: var(--color-contrast-primary);
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%);
    font-size: clamp(0.75rem, calc(1rem - 1vw), 0.5rem);

    & a {
      text-decoration: none;
      color: var(--color-contrast-secondary);
    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: var(--size-small);
    padding: var(--size-small);
    margin-block: var(--size-medium);

    &--primary {
      flex: 1;
    }
  }

  &__title {
    font-weight: 600;
    color: var(--color-contrast-secondary);

    &--primary {
      font-size: var(--size-small);
    }

    &--secondary {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }

  &__description {
    width: clamp(35ch, 100%, 60ch);
    color: var(--color-secondary);
    line-height: 1.25;
    font-size: 1rem;
    font-weight: 400;
  }

  &__shop-button {
    color: var(--color-contrast-secondary);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 500;
    margin-block-start: var(--size-small);
  }

  &__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
  }
}

.icon {
  color: var(--color-primary);

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-small);
    border: none;
    cursor: pointer;
    background: var(--color-contrast-secondary);
  }

  &--arrow {
    transform: scale(0.7);
  }

  &--black {
    color: var(--color-contrast-secondary);
  }
}

@media screen and (min-width: 43rem) {
  .container {
    &__text-content {
      align-items: center;
      justify-self: center;
    }

    &__title,
    &__description {
      text-align: center;
    }
  }
}

@media screen and (min-width: 50rem) {
  header {
    width: fit-content;
    gap: var(--size-medium);
  }
  .nav {
    &__hamburger {
      display: none;
    }
    &--mobile {
      display: none;
    }

    &--desktop {
      display: flex;
      flex-direction: row;
      gap: var(--size-small);

      & a {
        color: var(--color-primary);
        text-decoration: none;
        text-transform: lowercase;
      }
    }
  }
  main {
    display: grid;
    grid-template:
      "primary primary" 70%
      "secondary tertiary" 30% / 1fr auto;
    height: 100vh;
    overflow: hidden;
  }

  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &--primary {
      max-width: 100vw;
      grid-area: primary;
    }

    &--secondary {
      grid-area: secondary;
    }
    &--tertiary {
      grid-area: tertiary;
    }

    &__image {
      height: 100%;
      &--dynamic {
        max-width: none;
        height: 100%;
      }
      &-wrapper {
        display: flex;
        flex-direction: row;
        height: 100%;
      }
    }

    &__text-content {
      margin-block: 0;
      height: 100%;
      align-items: center;
      justify-content: center;

      &--primary {
        padding: var(--size-large);
        max-width: 42%;
      }
    }

    &__attribution {
      width: 100%;
      text-align: center;
    }

    &__title {
      text-align: left;
    }

    &__description {
      text-align: left;
    }

    &__buttons {
      transform: translateX(100%);
    }
  }
}
